::-webkit-scrollbar {
    width:2em;
}

::-webkit-scrollbar-track {
    background: hsl(120 50% 75% / 1);
    border-radius: 100vm;
    margin-block: .5em;
    margin-inline: 1em;
}


::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 2%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10);

}
